<main class="mx-auto max-w-5xl flex mt-10">

    <div class="w-1/2">
      <img src="/assets/Me.jpg" alt="Foto Bruno Vicente" id="pic-sobre-mim">
    </div>
    <div class="w-1/2 flex flex-col items-center justify-center space-y-5" id="text-sobre-mim">
      <h2 class="uppercase text-3xl font-semibold text-purple-800">Sobre mim</h2>
      <p class="text-justify text-orange-400">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Alias necessitatibur
        placeat inventore praesentium impedit itaque dolorem, nam, aperiam tenetur, rem repellat
        exercitationem? Cumque, eaque quae ea veniam facere amet eligendi.
        Rem excepturi, molestias praesentium aspernatur ad error recusandae, fuga ab molestiae
        autem tempora vero consequatur sint voluptatum architecto fugiat animi maxime perferendis.
        Id ducimus accusamus quas eum quam. Nulla, architecto?
      </p>
    </div>

</main>
