@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0%;
  }
  100% {
    transform: translateX(0%);
    opacity: 100%;
  }
}

@keyframes imgAnimate {
  0% {
    transform: scale(2);
    opacity: 0%;
    box-shadow: none;
  }
  15% {
    opacity: 0%;
  }
  30% {
    opacity: 10%;
  }
  100% {
    transform: scale(1);
    opacity: 100%;
    box-shadow: 0px 0px 10px 2px black;
  }
}

#sobre-mim {
  z-index: 1001;
}

#text-sobre-mim {
  animation: 1s ease-out 0s 1 slideInFromRight;
}

.pic-sobre-mim {
  animation: 1s ease-out imgAnimate;
  box-shadow: 0px 0px 10px 2px black;
}
