<main id="projects" class="mx-auto max-w-5xl">

  <h1 class="uppercase text-4xl text-center mt-6 mb-6">Projetos</h1>

  <section class="max-w-full flex justify-between items-end flex-wrap space-y-2">


    <div class="h-56 w-72 mx-5 bg-gray-700"></div>

    <div class="h-56 w-72 mx-5 bg-gray-700"></div>

    <div class="h-56 w-72 mx-5 bg-gray-700"></div>

    <div class="h-56 w-72 mx-5 bg-gray-700"></div>

    <div class="h-56 w-72 mx-5 bg-gray-700"></div>

    <div class="h-56 w-72 mx-5 bg-gray-700"></div>

    <div class="h-56 w-72 mx-5 bg-gray-700"></div>

    <div class="h-56 w-72 mx-5 bg-gray-700"></div>

    <div class="h-56 w-72 mx-5 bg-gray-700"></div>

  </section>

</main>
