@keyframes coverDown {
  0% {
    height: 100%;
  }
  55% {
    height: 0%;
  }
}

@keyframes slideDown {
  0% {
    transform: translateY(-6%);
  }
  50% {
    transform: translateY(-0%);
  }
}

@keyframes descriptionShowing {
  0% {
    transform: scale(1.7);
    opacity: 0.3;
  }
  50% {
    opacity: 1;
  }
  80% {
    transform: scale(1);
  }
}

@supports (animation-timeline: scroll()) {
  .cover {
    animation: 0.5s ease-in-out coverDown;
    background: linear-gradient(180deg, rgba(255,255,255,0)0%, #fff 25%);
    animation-timeline: scroll();
    height: 0%;
  }
  .trajetoria {
    animation: 0.5s ease-in-out slideDown;
    box-shadow: 0px 0px 40px -20px black;
    animation-timeline: scroll();
  }
}

.trajetoria-item > .descricao{
  display: none;
  box-shadow: 0 0 10px -3px black;
}

.trajetoria-item:hover > .descricao {
  display: block;
  transform: scale(1);
  animation: 0.5s ease-in descriptionShowing;
}
