<main id="habilidades" class="mx-auto max-w-5xl mt-14 relative flex flex-col items-center mb-14">
  <div class="title-habilidades flex flex-col items-center w-72">
    <h2 class="uppercase text-4xl text-center font-semibold bg-gradient-to-t from-purple-800 to-orange-500 text-transparent bg-clip-text inline-block">
      Habilidades
    </h2>

    <img src="/assets/triangle.svg" class="h-10" alt="">
  </div>


  <div class="flex space-x-1 w-full mt-5 bg-gradient-to-tl from-purple-800 to-orange-500 skills">
    <div class="w-full text-center flex flex-col items-center bg-white">
      <h3 class="uppercase mb-10 text-2xl text-center font-semibold bg-gradient-to-bl from-purple-800 to-orange-500 text-transparent bg-clip-text inline-block">
        Hard Skills
      </h3>

      <div class="w-full h-full flex flex-col items-center flex-wrap space-y-2 justify-between p-2">

        <div class="flex items-center justify-center space-x-2 shadow-2xl drop-shadow-md">
          <div class="left w-28 h-28 bg-gradient-to-bl from-purple-800 to-orange-500 text-white rounded-full flex items-center justify-center">Laravel</div>
          <p class="w-2/3 text-start bg-gradient-to-tr from-purple-800 to-orange-500 text-transparent bg-clip-text inline-block">
            1+ ano(s) de experiência desenvolvendo aplicações completas
          </p>
        </div>

        <div class="flex items-center justify-center space-x-2 shadow-2xl drop-shadow-md">
          <p class="w-2/3 text-end bg-gradient-to-tr from-purple-800 to-orange-500 text-transparent bg-clip-text inline-block">
            Experiente e habilidoso em Laravel, desenvolvendo aplicações web robustas e escaláveis
          </p>
          <div class="right w-28 h-28 bg-gradient-to-tl from-purple-800 to-orange-500 text-white rounded-full flex items-center justify-center">Tailwind CSS</div>
        </div>

        <div class="flex items-center justify-center space-x-2 shadow-2xl drop-shadow-md">
          <div class="left w-28 h-28 bg-gradient-to-br from-purple-800 to-orange-500 text-white rounded-full flex items-center justify-center">React</div>
          <p class="w-2/3 text-start bg-gradient-to-tl from-purple-800 to-orange-500 text-transparent bg-clip-text inline-block">
            Competente em React, construindo interfaces dinâmicas e interativas com eficiência
          </p>
        </div>

        <div class="flex items-center justify-center space-x-2 shadow-2xl drop-shadow-md">
          <p class="right w-2/3 text-end bg-gradient-to-bl from-purple-800 to-orange-500 text-transparent bg-clip-text inline-block">
            Proficiente em SQL, manipulando e gerenciando dados de forma eficaz em bancos de dados relacionais
          </p>
          <div class="w-28 h-28 bg-gradient-to-tr from-purple-800 to-orange-500 text-white rounded-full flex items-center justify-center">SQL</div>
        </div>

      </div>

    </div>
    <div class="w-full text-center flex flex-col items-center bg-white">
      <h3 class="uppercase mb-10 text-2xl text-center font-semibold bg-gradient-to-br from-purple-800 to-orange-500 text-transparent bg-clip-text inline-block">
        Soft Skills
      </h3>

      <div class="roulette w-full h-full flex flex-col items-center flex-wrap space-y-2 justify-between p-2">

        <div class="flex items-center justify-center space-x-2 shadow-2xl drop-shadow-md">
          <p class="w-2/3 text-start bg-gradient-to-br from-purple-800 to-orange-500 text-transparent bg-clip-text inline-block">
            Comunicativo e claro na expressão, facilitando interações e colaborações
          </p>
          <div class="left w-28 h-28 bg-gradient-to-bl from-purple-800 to-orange-500 text-white rounded-full flex items-center justify-center">Comunicativo</div>
        </div>

        <div class="flex items-center justify-center space-x-2 shadow-2xl drop-shadow-md">
          <div class="right w-28 h-28 bg-gradient-to-tl from-purple-800 to-orange-500 text-white rounded-full flex items-center justify-center">Trab. em equipe</div>
          <p class="w-2/3 text-end bg-gradient-to-tr from-purple-800 to-orange-500 text-transparent bg-clip-text inline-block">
            Excelente em trabalho em equipe, promovendo colaboração eficaz e sinergia para alcançar objetivos comuns
          </p>
        </div>

        <div class="flex items-center justify-center space-x-2 shadow-2xl drop-shadow-md">
          <p class="w-2/3 text-start bg-gradient-to-bl from-purple-800 to-orange-500 text-transparent bg-clip-text inline-block">
            Autodidata, sendo capaz de aprender e evoluir de forma independente, sempre buscando evoluir meus conhecimentos
          </p>
          <div class="left w-28 h-28 bg-gradient-to-br from-purple-800 to-orange-500 text-white rounded-full flex items-center justify-center">Autodidata</div>
        </div>

        <div class="flex items-center justify-center space-x-2 shadow-2xl drop-shadow-md">
          <div class="w-28 h-28 bg-gradient-to-tr from-purple-800 to-orange-500 text-white rounded-full flex items-center justify-center">Pró-ativo</div>
          <p class="right w-2/3 text-end bg-gradient-to-tl from-purple-800 to-orange-500 text-transparent bg-clip-text inline-block">
            Pró-ativo e ágil, sempre buscando soluções e oportunidades de forma antecipada
          </p>
        </div>

      </div>
    </div>
  </div>

</main>
